@red:rgb(178,35,43);
@grey:rgb(92,92,92);
@grey_light:rgb(231,231,231 );
@grey_light237:rgb(237,237,237 );
@fontcolor:rgb(65,65,65);
body{
  font-family: Arial, Helvetica, sans-serif,serif;
  color:@fontcolor;
  *:not(i){
    font-family: Arial, Helvetica, sans-serif important;
  }
  background:white;
}
h1,h2,h3,h4{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color:@red;
}
blockquote{
  text-align:center;
  font-style: italic;
  font-size:1.8rem;
}
header{
  padding:2vh 0;
  .logo{
    max-height:11vh;
  }
  border-bottom:1px solid @grey;
  .container{
    display:flex!important;
    justify-content: space-between;
    @media (max-width: 990px){
      flex-wrap: wrap;
    }
  }
  .logow{
    display:inline-block;
    flex-shrink: 1;
  }
  @media (max-width: 1200px){
    .logo{
      height:80px;
    }
    padding:1vh 0;
  }
  #headermenuw{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }
  #mnt{
    display:none;
    position:absolute;
    right:1rem;
    top:1rem;
    @media (max-width: 720px){
      display:block;
    }
  }
  #headermenu{
    display:flex;
    justify-content: flex-end;
    padding-bottom:1rem;
    padding-left:4rem;
    @media (max-width: 1280px){
      padding-left:2rem;
    }
    @media (max-width: 720px){
      justify-content: flex-start;
      flex-wrap: wrap;
      padding:0!important;
      max-height:0px;
      overflow:hidden;
      opacity: 0;
      transition-property: all;
      transition-duration: 0.6s;
      transition-timing-function: ease-in-out;
      &.mobvis{
        max-height:1000px;
        transition-property: all;
        transition-duration: 0.6s;
        transition-timing-function: ease-in-out;
        opacity: 1;
      }
    }
    .headermenuitem{
      color:@grey;
      text-transform:uppercase;
      text-align:center;
      font-size:0.9rem;
      line-height:1rem;
      &.active{
        color:@red;
        text-decoration: underline;
      }
      padding:0 1rem;
      border-right:1px solid @grey;
      &:last-child{
        border:none;
      }
      @media (max-width: 1280px){
        padding:0 0.5rem;
        margin-top:1rem;
      }
      @media (max-width: 720px){
        border:none;
        text-transform:none;
        text-align:left;
        width:25%;
      }
    }
  }
}
footer{
  display:block;
  background:@red;
  &.ui.container{
    margin:1rem 0 0 0!important;
  }
  .footermenu{
    display:flex!important;
    justify-content: center;
    a{
      color:white!important;
      padding:1rem;
      @media (max-width: 767px){
        padding:1rem 0.5rem;
      }
    }
  }
}
.subpage{
  h2{
    text-align:center;
    text-transform:uppercase;
    font-size:2rem;
    font-weight:normal;
    letter-spacing: 0.2rem;
  }
  &.kt{
    .intro{
      background:@grey_light237;
      border-bottom:1px solid @red;
      padding:3rem 0;
      text-align: center;
    }
    > .container{
      margin:0!important;
    }
    .kontakt{
      h2{
        color:@red;
        font-weight: bold;
        letter-spacing: 0;
        text-transform: none;
        text-align:left;
      }
      border-bottom:1px solid @red;
      .content{
        padding:2rem 0;
        @media (max-width: 767px){
          .kcontent{
            padding-bottom:2rem;
          }
        }
        
      }
    }
    .term{
      background:@grey_light237;
      .container{
        padding-top:3rem!important;
        padding-bottom:3rem!important;
      }
      margin-bottom:-1rem;
      .cb{
        text-align: center;
        padding:2rem 0;
      }
      h2{
        color:@red;
        font-weight: bold;
        letter-spacing: 0;
        text-transform: none;
        text-align:left;
      }
    }
  }
  &.it{
    .container .content{
      padding:4rem 50% 4rem 0!important;
    }
    .intro{
      ul{
        margin:0;
        padding:0;
        li{
          padding-left:1em;
          margin-left:1em;
          list-style-position: outside;
        }
      }
    }
    .tm{
      border-top:1px solid @red;
      border-bottom:1px solid @red;
      margin:0!important;
    }
    @media (max-width: 767px){
      .container .content{
        padding:1rem 0!important;
      }
      .intro{
        background:none!important;
      }
    }
    #tm{
      padding:4rem 0;
      text-align:center;
      font-weight:bold;
      @media (max-width: 767px){
        padding:2rem 0;
      }
    }
    .term{
      background:@grey_light237;
      border-top:1px solid @red;
      margin-bottom:-1rem;
      padding-bottom:2rem;
      p{
        text-align:center;
      }
      @media (max-width: 767px){
        margin:0!important;
      }
      h2{
        font-weight:bold;
        color:@red;
        letter-spacing: 0;
        margin:2rem 0;
      }
      .download{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        a{color:@red;}
      }
      .imgw{
        position:relative;
        #pdf{
          -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          img{
            margin:0;
            padding:0;
            display:inline;
            clear:both;
            float:none;
          }
        }
        #icn{
          position:absolute;
          top:50%;
          left:50%;
          margin-top:-10px;
          margin-left:-10px;
          z-index:9;
        }
        margin-bottom:1rem;
      }
    }
  }
  &.eb{
    #intro{
      text-align:center;
      padding:4rem 0 2rem 0;
      h2{
        text-transform: none;
        font-weight:bold;
        color:@red;
        letter-spacing: 0;
      }
    }
    .cblock{
      border-top:1px solid @red;
      border-bottom:1px solid @red;
      margin:0!important;
      .container{
        padding:2rem 0;
      }
      strong{
        color:@red;
      }
      padding-bottom:20em;
      h2{
        font-weight:bold;
        color:@red;
        letter-spacing: 0;
      }
      text-align:center;
      h4{
        color:@red;
      }
      ul{
        margin:0;
        padding:0;
        list-style-type:none;
        text-align:left;
        column-count: 2!important;
        @media (max-width: 767px){
          column-count: 1!important;
         }
         margin-bottom:4rem;
      }
      a{
        padding:1rem 2rem;
        background:@red;
        color:white;
        font-size:1.5rem;
      }
    }
    .imgwrap{
      img{
        max-width:100%;
      }
    }
    .term{
      background:@grey_light237;
      border-top:1px solid @red;
      margin-bottom:-1rem;
      padding-bottom:2rem;
      p{
        text-align:center;
      }
      @media (max-width: 767px){
        margin:0!important;
      }
      h2{
        font-weight:bold;
        color:@red;
        letter-spacing: 0;
        margin:2rem 0;
      }
      .download{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        a{color:@red;}
      }
      .imgw{
        position:relative;
        #pdf{
          -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          img{
            margin:0;
            padding:0;
            display:inline;
            clear:both;
            float:none;
          }
        }
        #icn{
          position:absolute;
          top:50%;
          left:50%;
          margin-top:-10px;
          margin-left:-10px;
          z-index:9;
        }
        margin-bottom:1rem;
      }
    }
    #mcontent{
      background: @grey_light237;
      border-top:1px solid @red;
      border-bottom:1px solid @red;
      padding:2rem 0;
      text-align:left;
      margin:2rem 0 0 0;
      h2{
        font-weight:bold;
        color:@red;
        letter-spacing: 0;
      }
      .container > ul{
        margin:0;
        padding:0;
        column-count: 2;
        @media (max-width: 767px){
          column-count: 1;
        }
        h3{
          font-size:1.1em;
        }
        column-gap: 4rem;
        list-style-type: none;
        >li>ul{
          padding:0;
          >li{
            list-style-type: circle;
            padding-left:1em;
            margin-left:1em;
            list-style-position: outside;
          }
        }
      }
    }
    .bercolimg{
      width:70%;
      max-width:110px;
      @media (max-width: 767px){
        max-width:70px!important;
      }
    }
    .bercol{
      text-align: center;
      p{
        margin:0;
      }
      h3{
        color:@red;
        font-size:1.8rem;
        font-weight:bold;
        margin-top:2rem;
        @media (max-width: 767px){
          font-size:1.2rem;
        }
      }
    }
  }
  &.em{
    #intro{
      text-align:center;
      padding:4rem 0 1rem 0;
      h2{
        text-transform: none;
        font-weight:bold;
        color:@red;
        letter-spacing: 0;
      }
    }
    .cblock{
      border-top:1px solid @red;
      border-bottom:1px solid @red;
      background-color:@grey_light!important;
      margin:0!important;
      @media (max-width: 767px){
       background-image: none!important;
      }
      .container{
        padding:2rem 0;
      }
      strong{
        color:@red;
      }
    }
    .imgwrap{
      img{
        max-width:100%;
      }
    }
    .term{
      background:@grey_light237;
      border-top:1px solid @red;
      margin-bottom:-1rem;
      @media (max-width: 767px){
        margin:0!important;
      }
      h2{
        font-weight:bold;
        color:@red;
        letter-spacing: 0;
        margin:2rem 0;
      }
      .download{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        a{color:@red;}
      }
      .imgw{
        position:relative;
        #pdf{
          -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
          img{
            margin:0;
            padding:0;
            display:inline;
            clear:both;
            float:none;
          }
        }
        #icn{
          position:absolute;
          top:50%;
          left:50%;
          margin-top:-10px;
          margin-left:-10px;
          z-index:9;
        }
        margin-bottom:1rem;
      }
    }
    .knzpt{
      .desk{
        @media (max-width: 767px){
          display:none;
        }
      }
      .mobile{
        display:block;
        @media (min-width: 767px){
          display:none;
        }
        overflow-x:hidden;
        .ct{
          margin-bottom:2rem;
        }
      }

      position:relative;
      overflow-y:hidden;
      #knzptdeco{
        width:1px;
        background:@red;
        position:absolute;
        z-index:-1;
        left:50%;
        height:100%;
        top:8rem;
        margin-left:-1px;
        @media (max-width: 767px){
          right:40px;
          left:auto;
        }
      }
      h2{
        text-transform: none;
        color:@red;
        letter-spacing:0;
        font-weight:bold;
        margin:2rem 0;
      }
      .ct{
        display:flex;
        justify-content: space-between;
        .num{
          color:@grey;
          font-size:6rem;
          margin-top:1.5rem;
        }
        .icn{
          img{
            width:80px;
          }
        }
        h4{
          color:@red;
          font-size:1.5rem;
          line-height:1.5rem;
        }
        ul{
          padding:0;
          margin:0;
          list-style: none;
        }
        &.left{
          li{
            padding-left:1.2em;
            background:url(/listicon.png) left 0.5em no-repeat;
          }
          width:50%;
          .num{
            margin-right:1rem;
          }
          .icn{
            margin-right:-40px;
          }
          @media (max-width: 767px){
            width:100%!important;
            .icn{
              margin-right:0px;
            }
          }
        }
        &.right{
          li{
            padding-right:1.2em;
            background:url(/listicon.png) right 0.5em no-repeat;
          }
          h4{
            text-align:right;
          }
          margin-left:50%;
          .num{
            margin-left:1rem;
          }
          .icn{
            margin-left:-40px;
            margin-right:1rem;
          }
          .txtw{
            text-align:right;
          }
          @media (max-width: 767px){
            margin-left:0;
            .icn{
              margin-left:0px;
              margin-right:1rem;
            }
            .num{
              margin-left:0rem;
              padding-left:1rem;
            }
          }
        }
      }
    }
    #mcontent{
      background: @grey_light237;
      border-top:1px solid @red;
      border-bottom:1px solid @red;
      padding:2rem 0;
      text-align:center;
      margin:2rem 0;
      h3{
        color:@red;
      }
    }
    .bercolimg{
      width:70%;
      max-width:150px;
    }
    .bercol{
      text-align: center;
      p{
        margin:0;
      }
      h3{
        color:@red;
        font-weight:200!important;
        font-size:1.8rem;
        strong{
          font-weight:bold;
        }
      }
    }
  }
  &.pm{
    #intro{
      margin-top:1rem;
      border-bottom:1px solid @red;
      background:@grey_light237;
    }
    .cr{
      padding:2rem 1rem!important;
      h3{
        color:@red;
      }
    }
    .cblock3{
      text-align:center;
      padding:2rem 0;
      border-bottom:1px solid @red;
      strong{
        text-transform: uppercase;
        font-weight:bold;
        font-size:2rem;
        color:@red;
        padding:0 0.25rem;
      }
    }
    .cblock2{
      text-align:center;
      background:@grey_light237;
      padding:2rem 0;
      border-bottom:1px solid @red;
      h2{
        color:@red;
        text-transform:none;
        letter-spacing: 0;
        font-weight:bold;
        font-size:1.2rem;
      }
      strong{
        color:@red;
      }
    }
    .cblock1{
      padding:2rem 0 10rem 0;
      border-bottom:1px solid @red;
      h3{
        font-size:1.2rem;
        color:@red;
      }
      ul{
        padding:0;
        li{
          margin-left:1em;
        }
      }
    }
    .term{
      @media (max-width: 767px){
        min-height:750px;
      }
    }
  }
  &.akp{
    .content{
      padding:2rem;
    }
    strong{
      color:@red;
    }
  }
  &.video{
    #patentius{
      @media (max-width: 767px){
        >div{
          max-width:100%!important;
          max-height:300px!important;
        }
        margin:0 -1rem;
      }
    }
    .steps{
      padding-top:3rem;
      strong{
        color:@red;
      }
      .step{
        display:flex;
        justify-content: flex-start;
        h3{
          color:@red;
        }
        img{
          margin-right:4rem;
          @media (max-width: 767px){
            margin-right:1rem!important;
          }
        }
        margin-bottom:2rem;
      }
    }
    #topteaser{
      background:@grey_light237;
      border-bottom:1px solid @red;
      > .ui.container{
        >.ui.grid{
          margin:0 -1rem!important;
        }
      }
      #imgcol{
        min-height:100px!important;   
      }
      .cr{
        padding:2rem 0;
        ul{
          padding:0;
          margin:0;
          li{
            list-style-type: disc;
            list-style-position: outside;
            margin-left:1em;
            margin-bottom:1rem;
          }
        }
        @media (max-width: 767px){
          padding:2rem 1rem!important;
        }
      }
    }
  }
}
.subheader_service{
  background:@red;
  .ui.container{
    text-align:center;
    padding:2rem 0;
    h1{
      text-align:center;
      color:white;
      text-transform:uppercase;
    }
  }
  @media (max-width: 767px){
    .ui.container{
      text-align:left;
      padding:1rem 0;
      h1{
        text-align:left;
        font-size:1.2rem;
      }
      background-size:auto 80%!important;
    }
  }
}
#home{
  .intro{
    background:@grey_light;
    text-align: center;
    margin:-20px 0 0 0!important;
    padding:2rem 0;
    strong{
      color:@red;
    }
  }
  .topslider{
    border-bottom:1px solid @red;
  }
  h1{
    text-transform: uppercase;
    font-size:2rem;
    font-weight:normal;
    text-align:center;
    margin:2rem 0;
    letter-spacing: 0.2rem;
    @media (max-width: 767px){
      font-size:1.8rem;
      letter-spacing: 0.1rem;
    }
  }
  .topcontent{
    columns: 2;
    column-gap:2rem;
    margin-bottom:4rem;
    @media (max-width: 767px){
      columns: 1;
    }
  }
  .icons{
    img{
      width:50%;
      max-width:120px;
    }
    h2{
      text-align:center;
      color:@grey;
      font-weight:normal;
      font-size:1.5rem;
      @media (max-width: 767px){
        font-size:1rem;
      }
      margin-bottom:0rem;  
    }
  }
  .soon{
    font-size:0.8rem;
    color:@red;
    text-align:center;
  }
  .ui.container.kontakt{
    background:@grey_light!important;
  }
  .ui.column.map{
    padding:0 1rem;
    i.zoom.in.icon{
      font-weight:200!important;
    }
  }
  .kontakt{
    margin:0!important;
    h2{
      text-transform:uppercase;
      font-size:2rem;
      font-weight:normal;
      letter-spacing: 0.2rem;
      line-height:3rem;
      border-bottom:1px solid @red;
      display:inline-block;
      margin-bottom:2rem;
    }
    .ui.column.content{
      padding:2rem;
      @media (max-width: 767px){
        padding:1rem !important;
      }
      .kcontent{
        padding-left:50px;
        position:relative;
        font-size:1.1rem;
        p{
          margin-bottom:1.5rem;
        }
        .decoWrapperR{
          position:absolute;
          left:0;
          top:0;
        }
      }
    }
  }
  .term{
    @media (max-width: 767px){
      background:none!important;
    }
    .contentcol{
      min-height:400px;
      padding-top:5rem;
      @media (max-width: 767px){
        padding-top:1rem;
      }
      h2{
        text-transform:uppercase;
        font-size:2rem;
        font-weight:normal;
        letter-spacing: 0.2rem;
      }
      .content{
        margin:3rem 0;  
        @media (max-width: 767px){
          margin:1rem 0;
        }
      }
      .tbutton{
        font-size:2rem;
        letter-spacing: 0.2rem;
        background:@red;
        color:white;
        display:inline-block;
        padding:1rem 2rem;
        @media (max-width: 767px){
          font-size:1.8rem;
          line-height:2.1rem;
          padding:0.5rem 1rem;
        }
      }
    }
  }
  .kki{
    position:relative;
    margin:0!important;
    .kk{
      background:@grey_light;
      margin:4rem 0 2rem 0; 
      .content{
        font-size:1.5rem;
        padding:2rem 4rem 2rem 2rem!important;
        img{
          margin-top:2rem;
        }
        .us{
          margin-top:1rem;
          font-size:1.2rem; 
        }
        @media (max-width: 767px){
          font-size:1rem;
          padding:1rem !important;
          .us{
            margin-top:0.5rem;
            font-size:1.2rem; 
          }
          img{
            margin-top:1rem;
          }
        }
      }
      blockquote{
        font-size:1.2rem;
        text-align:left;
        padding:0;
        margin:0;
        @media (max-width: 767px){
          font-size:1rem;
          padding:0.5rem;
        }
        p{
          margin-bottom:0.5rem; 
        }
        p:first-child:first-letter {
          float: left;
          font-size: 3rem;
          line-height: 3rem;
          margin-top:-1.4rem;
          @media (max-width: 767px){
            font-size:2rem;
            line-height: 2rem;
            margin-top:-0.71rem;
          }
        }
      }
      em{
        font-size:1rem;
        font-style: normal;
      }
    }
    .deco{
      height:72%;
      width:100vw;
      left:0;
      position:absolute;
      background:@red;
      top:14%;
      z-index:-1;
    }
  }
}
.decoWrapper{
  width:100vw;
  height:20px;
  .dleft{
    width:0px;
    height:20px;
    border-top:20px solid @red;
    border-left:20px solid transparent;
    position:absolute;
    left:50%;
    margin-left:-20px;
    z-index:5;
  }
  .dright{
    width:0px;
    height:20px;
    border-top:20px solid @red;
    border-right:20px solid transparent;
    position:absolute;
    left:50%;
    z-index:5;
  }
}
.decoWrapperR{
  width:0px;
  height:0px;
  border-left:20px solid @red;
  border-top:15px solid transparent;
  border-bottom:15px solid transparent;
}
@media only screen and (min-width: 401px) {
  .sy-box .sy-slides-wrap {
    min-width: 400px;
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
 .sy-box .sy-slides-crop {
  overflow: hidden;
}
@media only screen and (max-width: 500px) {
   .sy-box .sy-controls li {
    min-width: 2.4em;
  }
   .sy-box .sy-controls li a:after {
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em;
  }
}
@media only screen and (min-width: 501px) {
   .sy-box .sy-controls li {
    width: 100%;
  }
   .sy-box .sy-controls li.sy-prev {
    left: -100%;
  }
   .sy-box .sy-controls li.sy-next {
    right: -100%;
  }
   .sy-box .sy-controls li a:after {
    background: none;
  }
}
 .sy-box .sy-slide {
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
@media only screen and (max-width: 500px) {
  .sy-box .sy-slide .product-info {
    padding: 1em 2.4em;
  }
}
.sy-box .sy-slide .image-content {
  line-height: 0;
}
.sy-box .sy-slide li img {
  width: 100%;
}
.sy-box .sy-slide.sy-active {
  opacity: 1;
}