body {
  font-family: Arial, Helvetica, sans-serif;
  color: #414141;
  background: white;
}
body *:not(i) {
  font-family: Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #b2232b;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
header {
  height: 15vh;
  padding: 2vh 0;
  border-bottom: 1px solid #5c5c5c;
}
header .logo {
  max-height: 11vh;
}
#home .topslider {
  border-bottom: 1px solid #b2232b;
}
#home h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
}
#home .topcontent {
  columns: 2;
  column-gap: 2rem;
  margin-bottom: 4rem;
}
#home .icons img {
  width: 50%;
  max-width: 120px;
}
#home .icons h2 {
  text-align: center;
  color: #5c5c5c;
  font-weight: normal;
  font-size: 1.5rem;
}
#home .kki {
  position: relative;
}
#home .kki .kk {
  background: #c8c8c8;
  margin: 4rem 0 2rem 0;
}
#home .kki .kk .content {
  font-size: 1.5rem;
  padding: 2rem 4rem 2rem 2rem;
}
#home .kki .kk .content img {
  margin-top: 2rem;
}
#home .kki .kk .content .us {
  margin-top: 1rem;
  font-size: 1.2rem;
}
#home .kki .kk blockquote {
  font-size: 1.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}
#home .kki .kk blockquote p {
  margin-bottom: 0.5rem;
}
#home .kki .kk blockquote p:first-child:first-letter {
  float: left;
  font-size: 3rem;
  line-height: 3rem;
  margin-top: -1rem;
}
#home .kki .kk em {
  font-size: 1rem;
  font-style: normal;
}
#home .kki .deco {
  height: 72%;
  width: 100vw;
  left: 0;
  position: absolute;
  background: #b2232b;
  top: 14%;
  z-index: -1;
}
.decoWrapper {
  width: 100vw;
  height: 20px;
}
.decoWrapper .dleft {
  width: 0px;
  height: 20px;
  border-top: 20px solid #b2232b;
  border-left: 20px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -20px;
}
.decoWrapper .dright {
  width: 0px;
  height: 20px;
  border-top: 20px solid #b2232b;
  border-right: 20px solid transparent;
  position: absolute;
  left: 50%;
}
@media only screen and (min-width: 401px) {
  .sy-box .sy-slides-wrap {
    min-width: 400px;
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.sy-box .sy-slides-crop {
  overflow: visible;
}
@media only screen and (max-width: 500px) {
  .sy-box .sy-controls li {
    min-width: 2.4em;
  }
  .sy-box .sy-controls li a:after {
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em;
  }
}
@media only screen and (min-width: 501px) {
  .sy-box .sy-controls li {
    width: 100%;
  }
  .sy-box .sy-controls li.sy-prev {
    left: -100%;
  }
  .sy-box .sy-controls li.sy-next {
    right: -100%;
  }
  .sy-box .sy-controls li a:after {
    background: none;
  }
}
.sy-box .sy-slide {
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
@media only screen and (max-width: 500px) {
  .sy-box .sy-slide .product-info {
    padding: 1em 2.4em;
  }
}
.sy-box .sy-slide .image-content {
  line-height: 0;
}
.sy-box .sy-slide li img {
  width: 100%;
}
.sy-box .sy-slide.sy-active {
  opacity: 1;
}
