body {
  font-family: Arial, Helvetica, sans-serif, serif;
  color: #414141;
  background: white;
}
body *:not(i) {
  font-family: Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #b2232b;
}
blockquote {
  text-align: center;
  font-style: italic;
  font-size: 1.8rem;
}
header {
  padding: 2vh 0;
  border-bottom: 1px solid #5c5c5c;
}
header .logo {
  max-height: 11vh;
}
header .container {
  display: flex!important;
  justify-content: space-between;
}
@media (max-width: 990px) {
  header .container {
    flex-wrap: wrap;
  }
}
header .logow {
  display: inline-block;
  flex-shrink: 1;
}
@media (max-width: 1200px) {
  header {
    padding: 1vh 0;
  }
  header .logo {
    height: 80px;
  }
}
header #headermenuw {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}
header #mnt {
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
@media (max-width: 720px) {
  header #mnt {
    display: block;
  }
}
header #headermenu {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-left: 4rem;
}
@media (max-width: 1280px) {
  header #headermenu {
    padding-left: 2rem;
  }
}
@media (max-width: 720px) {
  header #headermenu {
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0!important;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
  }
  header #headermenu.mobvis {
    max-height: 1000px;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    opacity: 1;
  }
}
header #headermenu .headermenuitem {
  color: #5c5c5c;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
  line-height: 1rem;
  padding: 0 1rem;
  border-right: 1px solid #5c5c5c;
}
header #headermenu .headermenuitem.active {
  color: #b2232b;
  text-decoration: underline;
}
header #headermenu .headermenuitem:last-child {
  border: none;
}
@media (max-width: 1280px) {
  header #headermenu .headermenuitem {
    padding: 0 0.5rem;
    margin-top: 1rem;
  }
}
@media (max-width: 720px) {
  header #headermenu .headermenuitem {
    border: none;
    text-transform: none;
    text-align: left;
    width: 25%;
  }
}
footer {
  display: block;
  background: #b2232b;
}
footer.ui.container {
  margin: 1rem 0 0 0!important;
}
footer .footermenu {
  display: flex!important;
  justify-content: center;
}
footer .footermenu a {
  color: white!important;
  padding: 1rem;
}
@media (max-width: 767px) {
  footer .footermenu a {
    padding: 1rem 0.5rem;
  }
}
.subpage h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}
.subpage.kt .intro {
  background: #ededed;
  border-bottom: 1px solid #b2232b;
  padding: 3rem 0;
  text-align: center;
}
.subpage.kt > .container {
  margin: 0!important;
}
.subpage.kt .kontakt {
  border-bottom: 1px solid #b2232b;
}
.subpage.kt .kontakt h2 {
  color: #b2232b;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: none;
  text-align: left;
}
.subpage.kt .kontakt .content {
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .subpage.kt .kontakt .content .kcontent {
    padding-bottom: 2rem;
  }
}
.subpage.kt .term {
  background: #ededed;
  margin-bottom: -1rem;
}
.subpage.kt .term .container {
  padding-top: 3rem!important;
  padding-bottom: 3rem!important;
}
.subpage.kt .term .cb {
  text-align: center;
  padding: 2rem 0;
}
.subpage.kt .term h2 {
  color: #b2232b;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: none;
  text-align: left;
}
.subpage.it .container .content {
  padding: 4rem 50% 4rem 0!important;
}
.subpage.it .intro ul {
  margin: 0;
  padding: 0;
}
.subpage.it .intro ul li {
  padding-left: 1em;
  margin-left: 1em;
  list-style-position: outside;
}
.subpage.it .tm {
  border-top: 1px solid #b2232b;
  border-bottom: 1px solid #b2232b;
  margin: 0!important;
}
@media (max-width: 767px) {
  .subpage.it .container .content {
    padding: 1rem 0!important;
  }
  .subpage.it .intro {
    background: none!important;
  }
}
.subpage.it #tm {
  padding: 4rem 0;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 767px) {
  .subpage.it #tm {
    padding: 2rem 0;
  }
}
.subpage.it .term {
  background: #ededed;
  border-top: 1px solid #b2232b;
  margin-bottom: -1rem;
  padding-bottom: 2rem;
}
.subpage.it .term p {
  text-align: center;
}
@media (max-width: 767px) {
  .subpage.it .term {
    margin: 0!important;
  }
}
.subpage.it .term h2 {
  font-weight: bold;
  color: #b2232b;
  letter-spacing: 0;
  margin: 2rem 0;
}
.subpage.it .term .download {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.subpage.it .term .download a {
  color: #b2232b;
}
.subpage.it .term .imgw {
  position: relative;
  margin-bottom: 1rem;
}
.subpage.it .term .imgw #pdf {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.subpage.it .term .imgw #pdf img {
  margin: 0;
  padding: 0;
  display: inline;
  clear: both;
  float: none;
}
.subpage.it .term .imgw #icn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 9;
}
.subpage.eb #intro {
  text-align: center;
  padding: 4rem 0 2rem 0;
}
.subpage.eb #intro h2 {
  text-transform: none;
  font-weight: bold;
  color: #b2232b;
  letter-spacing: 0;
}
.subpage.eb .cblock {
  border-top: 1px solid #b2232b;
  border-bottom: 1px solid #b2232b;
  margin: 0!important;
  padding-bottom: 20em;
  text-align: center;
}
.subpage.eb .cblock .container {
  padding: 2rem 0;
}
.subpage.eb .cblock strong {
  color: #b2232b;
}
.subpage.eb .cblock h2 {
  font-weight: bold;
  color: #b2232b;
  letter-spacing: 0;
}
.subpage.eb .cblock h4 {
  color: #b2232b;
}
.subpage.eb .cblock ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  column-count: 2!important;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .subpage.eb .cblock ul {
    column-count: 1!important;
  }
}
.subpage.eb .cblock a {
  padding: 1rem 2rem;
  background: #b2232b;
  color: white;
  font-size: 1.5rem;
}
.subpage.eb .imgwrap img {
  max-width: 100%;
}
.subpage.eb .term {
  background: #ededed;
  border-top: 1px solid #b2232b;
  margin-bottom: -1rem;
  padding-bottom: 2rem;
}
.subpage.eb .term p {
  text-align: center;
}
@media (max-width: 767px) {
  .subpage.eb .term {
    margin: 0!important;
  }
}
.subpage.eb .term h2 {
  font-weight: bold;
  color: #b2232b;
  letter-spacing: 0;
  margin: 2rem 0;
}
.subpage.eb .term .download {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.subpage.eb .term .download a {
  color: #b2232b;
}
.subpage.eb .term .imgw {
  position: relative;
  margin-bottom: 1rem;
}
.subpage.eb .term .imgw #pdf {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.subpage.eb .term .imgw #pdf img {
  margin: 0;
  padding: 0;
  display: inline;
  clear: both;
  float: none;
}
.subpage.eb .term .imgw #icn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 9;
}
.subpage.eb #mcontent {
  background: #ededed;
  border-top: 1px solid #b2232b;
  border-bottom: 1px solid #b2232b;
  padding: 2rem 0;
  text-align: left;
  margin: 2rem 0 0 0;
}
.subpage.eb #mcontent h2 {
  font-weight: bold;
  color: #b2232b;
  letter-spacing: 0;
}
.subpage.eb #mcontent .container > ul {
  margin: 0;
  padding: 0;
  column-count: 2;
  column-gap: 4rem;
  list-style-type: none;
}
@media (max-width: 767px) {
  .subpage.eb #mcontent .container > ul {
    column-count: 1;
  }
}
.subpage.eb #mcontent .container > ul h3 {
  font-size: 1.1em;
}
.subpage.eb #mcontent .container > ul > li > ul {
  padding: 0;
}
.subpage.eb #mcontent .container > ul > li > ul > li {
  list-style-type: circle;
  padding-left: 1em;
  margin-left: 1em;
  list-style-position: outside;
}
.subpage.eb .bercolimg {
  width: 70%;
  max-width: 110px;
}
@media (max-width: 767px) {
  .subpage.eb .bercolimg {
    max-width: 70px!important;
  }
}
.subpage.eb .bercol {
  text-align: center;
}
.subpage.eb .bercol p {
  margin: 0;
}
.subpage.eb .bercol h3 {
  color: #b2232b;
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
}
@media (max-width: 767px) {
  .subpage.eb .bercol h3 {
    font-size: 1.2rem;
  }
}
.subpage.em #intro {
  text-align: center;
  padding: 4rem 0 1rem 0;
}
.subpage.em #intro h2 {
  text-transform: none;
  font-weight: bold;
  color: #b2232b;
  letter-spacing: 0;
}
.subpage.em .cblock {
  border-top: 1px solid #b2232b;
  border-bottom: 1px solid #b2232b;
  background-color: #e7e7e7 !important;
  margin: 0!important;
}
@media (max-width: 767px) {
  .subpage.em .cblock {
    background-image: none!important;
  }
}
.subpage.em .cblock .container {
  padding: 2rem 0;
}
.subpage.em .cblock strong {
  color: #b2232b;
}
.subpage.em .imgwrap img {
  max-width: 100%;
}
.subpage.em .term {
  background: #ededed;
  border-top: 1px solid #b2232b;
  margin-bottom: -1rem;
}
@media (max-width: 767px) {
  .subpage.em .term {
    margin: 0!important;
  }
}
.subpage.em .term h2 {
  font-weight: bold;
  color: #b2232b;
  letter-spacing: 0;
  margin: 2rem 0;
}
.subpage.em .term .download {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.subpage.em .term .download a {
  color: #b2232b;
}
.subpage.em .term .imgw {
  position: relative;
  margin-bottom: 1rem;
}
.subpage.em .term .imgw #pdf {
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.subpage.em .term .imgw #pdf img {
  margin: 0;
  padding: 0;
  display: inline;
  clear: both;
  float: none;
}
.subpage.em .term .imgw #icn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  z-index: 9;
}
.subpage.em .knzpt {
  position: relative;
  overflow-y: hidden;
}
@media (max-width: 767px) {
  .subpage.em .knzpt .desk {
    display: none;
  }
}
.subpage.em .knzpt .mobile {
  display: block;
  overflow-x: hidden;
}
@media (min-width: 767px) {
  .subpage.em .knzpt .mobile {
    display: none;
  }
}
.subpage.em .knzpt .mobile .ct {
  margin-bottom: 2rem;
}
.subpage.em .knzpt #knzptdeco {
  width: 1px;
  background: #b2232b;
  position: absolute;
  z-index: -1;
  left: 50%;
  height: 100%;
  top: 8rem;
  margin-left: -1px;
}
@media (max-width: 767px) {
  .subpage.em .knzpt #knzptdeco {
    right: 40px;
    left: auto;
  }
}
.subpage.em .knzpt h2 {
  text-transform: none;
  color: #b2232b;
  letter-spacing: 0;
  font-weight: bold;
  margin: 2rem 0;
}
.subpage.em .knzpt .ct {
  display: flex;
  justify-content: space-between;
}
.subpage.em .knzpt .ct .num {
  color: #5c5c5c;
  font-size: 6rem;
  margin-top: 1.5rem;
}
.subpage.em .knzpt .ct .icn img {
  width: 80px;
}
.subpage.em .knzpt .ct h4 {
  color: #b2232b;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.subpage.em .knzpt .ct ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.subpage.em .knzpt .ct.left {
  width: 50%;
}
.subpage.em .knzpt .ct.left li {
  padding-left: 1.2em;
  background: url(/listicon.png) left 0.5em no-repeat;
}
.subpage.em .knzpt .ct.left .num {
  margin-right: 1rem;
}
.subpage.em .knzpt .ct.left .icn {
  margin-right: -40px;
}
@media (max-width: 767px) {
  .subpage.em .knzpt .ct.left {
    width: 100%!important;
  }
  .subpage.em .knzpt .ct.left .icn {
    margin-right: 0px;
  }
}
.subpage.em .knzpt .ct.right {
  margin-left: 50%;
}
.subpage.em .knzpt .ct.right li {
  padding-right: 1.2em;
  background: url(/listicon.png) right 0.5em no-repeat;
}
.subpage.em .knzpt .ct.right h4 {
  text-align: right;
}
.subpage.em .knzpt .ct.right .num {
  margin-left: 1rem;
}
.subpage.em .knzpt .ct.right .icn {
  margin-left: -40px;
  margin-right: 1rem;
}
.subpage.em .knzpt .ct.right .txtw {
  text-align: right;
}
@media (max-width: 767px) {
  .subpage.em .knzpt .ct.right {
    margin-left: 0;
  }
  .subpage.em .knzpt .ct.right .icn {
    margin-left: 0px;
    margin-right: 1rem;
  }
  .subpage.em .knzpt .ct.right .num {
    margin-left: 0rem;
    padding-left: 1rem;
  }
}
.subpage.em #mcontent {
  background: #ededed;
  border-top: 1px solid #b2232b;
  border-bottom: 1px solid #b2232b;
  padding: 2rem 0;
  text-align: center;
  margin: 2rem 0;
}
.subpage.em #mcontent h3 {
  color: #b2232b;
}
.subpage.em .bercolimg {
  width: 70%;
  max-width: 150px;
}
.subpage.em .bercol {
  text-align: center;
}
.subpage.em .bercol p {
  margin: 0;
}
.subpage.em .bercol h3 {
  color: #b2232b;
  font-weight: 200!important;
  font-size: 1.8rem;
}
.subpage.em .bercol h3 strong {
  font-weight: bold;
}
.subpage.pm #intro {
  margin-top: 1rem;
  border-bottom: 1px solid #b2232b;
  background: #ededed;
}
.subpage.pm .cr {
  padding: 2rem 1rem!important;
}
.subpage.pm .cr h3 {
  color: #b2232b;
}
.subpage.pm .cblock3 {
  text-align: center;
  padding: 2rem 0;
  border-bottom: 1px solid #b2232b;
}
.subpage.pm .cblock3 strong {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  color: #b2232b;
  padding: 0 0.25rem;
}
.subpage.pm .cblock2 {
  text-align: center;
  background: #ededed;
  padding: 2rem 0;
  border-bottom: 1px solid #b2232b;
}
.subpage.pm .cblock2 h2 {
  color: #b2232b;
  text-transform: none;
  letter-spacing: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.subpage.pm .cblock2 strong {
  color: #b2232b;
}
.subpage.pm .cblock1 {
  padding: 2rem 0 10rem 0;
  border-bottom: 1px solid #b2232b;
}
.subpage.pm .cblock1 h3 {
  font-size: 1.2rem;
  color: #b2232b;
}
.subpage.pm .cblock1 ul {
  padding: 0;
}
.subpage.pm .cblock1 ul li {
  margin-left: 1em;
}
@media (max-width: 767px) {
  .subpage.pm .term {
    min-height: 750px;
  }
}
.subpage.akp .content {
  padding: 2rem;
}
.subpage.akp strong {
  color: #b2232b;
}
@media (max-width: 767px) {
  .subpage.video #patentius {
    margin: 0 -1rem;
  }
  .subpage.video #patentius > div {
    max-width: 100%!important;
    max-height: 300px!important;
  }
}
.subpage.video .steps {
  padding-top: 3rem;
}
.subpage.video .steps strong {
  color: #b2232b;
}
.subpage.video .steps .step {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.subpage.video .steps .step h3 {
  color: #b2232b;
}
.subpage.video .steps .step img {
  margin-right: 4rem;
}
@media (max-width: 767px) {
  .subpage.video .steps .step img {
    margin-right: 1rem!important;
  }
}
.subpage.video #topteaser {
  background: #ededed;
  border-bottom: 1px solid #b2232b;
}
.subpage.video #topteaser > .ui.container > .ui.grid {
  margin: 0 -1rem !important;
}
.subpage.video #topteaser #imgcol {
  min-height: 100px!important;
}
.subpage.video #topteaser .cr {
  padding: 2rem 0;
}
.subpage.video #topteaser .cr ul {
  padding: 0;
  margin: 0;
}
.subpage.video #topteaser .cr ul li {
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 1em;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .subpage.video #topteaser .cr {
    padding: 2rem 1rem!important;
  }
}
.subheader_service {
  background: #b2232b;
}
.subheader_service .ui.container {
  text-align: center;
  padding: 2rem 0;
}
.subheader_service .ui.container h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .subheader_service .ui.container {
    text-align: left;
    padding: 1rem 0;
    background-size: auto 80%!important;
  }
  .subheader_service .ui.container h1 {
    text-align: left;
    font-size: 1.2rem;
  }
}
#home .intro {
  background: #e7e7e7;
  text-align: center;
  margin: -20px 0 0 0 !important;
  padding: 2rem 0;
}
#home .intro strong {
  color: #b2232b;
}
#home .topslider {
  border-bottom: 1px solid #b2232b;
}
#home h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  margin: 2rem 0;
  letter-spacing: 0.2rem;
}
@media (max-width: 767px) {
  #home h1 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
}
#home .topcontent {
  columns: 2;
  column-gap: 2rem;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  #home .topcontent {
    columns: 1;
  }
}
#home .icons img {
  width: 50%;
  max-width: 120px;
}
#home .icons h2 {
  text-align: center;
  color: #5c5c5c;
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 0rem;
}
@media (max-width: 767px) {
  #home .icons h2 {
    font-size: 1rem;
  }
}
#home .soon {
  font-size: 0.8rem;
  color: #b2232b;
  text-align: center;
}
#home .ui.container.kontakt {
  background: #e7e7e7 !important;
}
#home .ui.column.map {
  padding: 0 1rem;
}
#home .ui.column.map i.zoom.in.icon {
  font-weight: 200!important;
}
#home .kontakt {
  margin: 0!important;
}
#home .kontakt h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  border-bottom: 1px solid #b2232b;
  display: inline-block;
  margin-bottom: 2rem;
}
#home .kontakt .ui.column.content {
  padding: 2rem;
}
@media (max-width: 767px) {
  #home .kontakt .ui.column.content {
    padding: 1rem !important;
  }
}
#home .kontakt .ui.column.content .kcontent {
  padding-left: 50px;
  position: relative;
  font-size: 1.1rem;
}
#home .kontakt .ui.column.content .kcontent p {
  margin-bottom: 1.5rem;
}
#home .kontakt .ui.column.content .kcontent .decoWrapperR {
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 767px) {
  #home .term {
    background: none!important;
  }
}
#home .term .contentcol {
  min-height: 400px;
  padding-top: 5rem;
}
@media (max-width: 767px) {
  #home .term .contentcol {
    padding-top: 1rem;
  }
}
#home .term .contentcol h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}
#home .term .contentcol .content {
  margin: 3rem 0;
}
@media (max-width: 767px) {
  #home .term .contentcol .content {
    margin: 1rem 0;
  }
}
#home .term .contentcol .tbutton {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  background: #b2232b;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
}
@media (max-width: 767px) {
  #home .term .contentcol .tbutton {
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding: 0.5rem 1rem;
  }
}
#home .kki {
  position: relative;
  margin: 0!important;
}
#home .kki .kk {
  background: #e7e7e7;
  margin: 4rem 0 2rem 0;
}
#home .kki .kk .content {
  font-size: 1.5rem;
  padding: 2rem 4rem 2rem 2rem!important;
}
#home .kki .kk .content img {
  margin-top: 2rem;
}
#home .kki .kk .content .us {
  margin-top: 1rem;
  font-size: 1.2rem;
}
@media (max-width: 767px) {
  #home .kki .kk .content {
    font-size: 1rem;
    padding: 1rem !important;
  }
  #home .kki .kk .content .us {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  #home .kki .kk .content img {
    margin-top: 1rem;
  }
}
#home .kki .kk blockquote {
  font-size: 1.2rem;
  text-align: left;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  #home .kki .kk blockquote {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
#home .kki .kk blockquote p {
  margin-bottom: 0.5rem;
}
#home .kki .kk blockquote p:first-child:first-letter {
  float: left;
  font-size: 3rem;
  line-height: 3rem;
  margin-top: -1.4rem;
}
@media (max-width: 767px) {
  #home .kki .kk blockquote p:first-child:first-letter {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: -0.71rem;
  }
}
#home .kki .kk em {
  font-size: 1rem;
  font-style: normal;
}
#home .kki .deco {
  height: 72%;
  width: 100vw;
  left: 0;
  position: absolute;
  background: #b2232b;
  top: 14%;
  z-index: -1;
}
.decoWrapper {
  width: 100vw;
  height: 20px;
}
.decoWrapper .dleft {
  width: 0px;
  height: 20px;
  border-top: 20px solid #b2232b;
  border-left: 20px solid transparent;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  z-index: 5;
}
.decoWrapper .dright {
  width: 0px;
  height: 20px;
  border-top: 20px solid #b2232b;
  border-right: 20px solid transparent;
  position: absolute;
  left: 50%;
  z-index: 5;
}
.decoWrapperR {
  width: 0px;
  height: 0px;
  border-left: 20px solid #b2232b;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
@media only screen and (min-width: 401px) {
  .sy-box .sy-slides-wrap {
    min-width: 400px;
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.sy-box .sy-slides-crop {
  overflow: hidden;
}
@media only screen and (max-width: 500px) {
  .sy-box .sy-controls li {
    min-width: 2.4em;
  }
  .sy-box .sy-controls li a:after {
    line-height: 1.4em;
    height: 1.4em;
    width: 1.4em;
    margin-top: -0.7em;
    margin-left: -0.7em;
  }
}
@media only screen and (min-width: 501px) {
  .sy-box .sy-controls li {
    width: 100%;
  }
  .sy-box .sy-controls li.sy-prev {
    left: -100%;
  }
  .sy-box .sy-controls li.sy-next {
    right: -100%;
  }
  .sy-box .sy-controls li a:after {
    background: none;
  }
}
.sy-box .sy-slide {
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
@media only screen and (max-width: 500px) {
  .sy-box .sy-slide .product-info {
    padding: 1em 2.4em;
  }
}
.sy-box .sy-slide .image-content {
  line-height: 0;
}
.sy-box .sy-slide li img {
  width: 100%;
}
.sy-box .sy-slide.sy-active {
  opacity: 1;
}
