{{ define "main" }}
<div class="subpage eb">
  {{ partial "headerSubService.html" . }}
  <div class="ui container">
    <div id="intro">
      {{.Params.intro | safeHTML}}
    </div>
  </div>
  <div class="ui container">
    <div class="ui four column doubling grid">
      {{ range .Params.bereiche }}
      <div class="ui column bercol">
        <img class="bercolimg" src="{{partial "imgUrl" (dict "img" .icon "params" "" )}}" />
        <div class="bercol">
          {{.content |safeHTML}}
        </div>
      </div>
      {{end}}
    </div>
  </div>
  <div id="mcontent">
    <div class="ui container">
      {{.Params.text_mitte|safeHTML}}
    </div>
  </div>
  <div class="ui container fluid cblock" style="background:url({{partial "imgUrl" (dict "img" .Params.content_block.hintergrundbild "params" "q_100" )}}) center bottom no-repeat; background-size:cover">
    <div class="ui container">
      {{.Params.content_block.content|safeHTML}}
    </div>
  </div>
  <div class="ui container fluid term">
    <div class="decoWrapper">
      <div class="dleft"></div>
      <div class="dright"></div>
    </div>
    <div class="ui container">
      <h2>{{.Params.termin.titel}}</h2>
      <p>{{.Params.termin.content|safeHTML}}</p>
      <div class="ui grid stackable">
        <div class="ui ten wide column contentcol">
          <script src="https://www.jameda.de/api/otb-widget/?refid=81100194_1" async></script>
          <div id="jam-ota-info_81100194_1">

          </div>
        </div>
        <div class="ui six wide column download">
          <a href="{{.Params.termin.bild_download}}" target="_blank">
            <div class="imgw">
              <img id="icn" src="{{partial "imgUrl" (dict "img" .Params.termin.icon_download "params" "f_auto,q_100,c_scale,w_20" )}}" />
              <div id="pdf">
                <img src="{{partial "imgUrl" (dict "img" .Params.termin.bild_download "params" "f_auto,c_scale,w_200" )}}" />
              </div>
            </div>
            <div class="dlabel">{{.Params.termin.beschriftung_download}}</div>
          </a>
        </div>
      </div>
      <p>{{.Params.termin.content_unten|safeHTML}}</p>
    </div>
  </div>
</div>
{{end}}