{{ define "main" }}
<div class="subpage em">
  {{ partial "headerSubService.html" . }}
  <div class="ui container">
    <div id="intro">
      {{.Params.intro | safeHTML}}
    </div>
  </div>
  <div class="ui container">
    <div class="ui three column stackable grid">
      {{ range .Params.bereiche }}
      <div class="ui column">
        <img src="{{partial "imgUrl" (dict "img" .icon "params" "" )}}" />
        <div class="bercol">
          {{.content |safeHTML}}
        </div>
      </div>
      {{end}}
    </div>
  </div>
  <div id="mcontent">
    <div class="ui container">
      {{.Params.test_mitte|safeHTML}}
    </div>
  </div>
  <div class="ui container imgwrap">
    <img src="{{partial "imgUrl" (dict "img" .Params.bild "params" "" )}}" />
  </div>
  <div class="ui container fluid cblock" style="background:url({{partial "imgUrl" (dict "img" .Params.content_block.hintergrundbild "params" "f_auto" )}}) left center no-repeat; background-size:cover">
    <div class="decoWrapper">
      <div class="dleft"></div>
      <div class="dright"></div>
    </div>
    <div class="ui container">
      <div class="ui grid stackable">
        <div class="ui six wide column"></div>
        <div class="ui ten wide column">
          {{.Params.content_block.content|safeHTML}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui container knzpt">
    <h2>{{.Params.konzept.titel}}</h2>
    {{range $idx,$elem := .Params.konzept.schritte}}
    <!-- -->
    {{ if modBool $idx 2 }}
    <div class="ct left">
      <div class="num">{{$elem.nummer}}</div>
      <div class="txtw">
        <h4>{{$elem.titel}}</h4>
        {{$elem.content|safeHTML}}
      </div>
      <div class="icn">
        <img src="{{partial "imgUrl" (dict "img" $elem.icon "params" "" )}}" />
      </div>
    </div>
    <!-- -->
    {{else}}
    <!-- -->
    {{end}}
    <!-- -->
    {{end}}
  </div>
  <div class="ui container fluid term" style="background:url({{partial "imgUrl" (dict "img" .Params.termin_hintergrund "params" "c_scale,f_auto,w_400" )}}) right -50px bottom no-repeat;">
    <div class="ui container">
      <div class="ui grid stackable">
        <div class="ui ten wide column contentcol">
          <script src="https://www.jameda.de/api/otb-widget/?refid=81100194_1" async></script>
          <div id="jam-ota-info_81100194_1">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}