{{ define "main" }}
<div class="subpage eb">
  {{ partial "headerSubService.html" . }}
  <div class="ui container">
    <div id="intro">
      {{.Params.intro | safeHTML}}
    </div>
  </div>
  <div class="ui container">
    <div class="ui four column doubling grid">
      {{ range .Params.bereiche }}
      <div class="ui column bercol">
        <img class="bercolimg" src="{{partial "imgUrl" (dict "img" .icon "params" "" )}}" />
        <div class="bercol">
          {{.content |safeHTML}}
        </div>
      </div>
      {{end}}
    </div>
  </div>
  <div id="mcontent">
    <div class="ui container">
      {{.Params.text_mitte|safeHTML}}
    </div>
  </div>
  <div class=" cblockapp"  style="padding-Bottom:2rem; background:url({{partial "imgUrl" (dict "img"  .Params.content_block.hintergrundbild "params" "" )}}) center center no-repeat; background-size:cover;">
    <div class="ui container">
      <div>
          {{.Params.content_block.titel|safeHTML}}
      </div>
      <div class="ui grid stackable">
          <div class="ui eight wide column">
              
          </div>
          <div class="ui eight wide column">
              {{.Params.content_block.content|safeHTML}}
          </div>
      </div>
    </div>
  </div>
  {{ $p := .Site.GetPage "ernaehrungsberatung.md" }}
  {{partial "termin" $p}}
</div>
{{end}}