{{ define "main" }}
{{ $eb:=.Site.GetPage "/ernaehrungsberatung.md"}}
<div class="subpage it eb">
  {{ partial "headerSubService.html" . }}
  <div class="ui container fluid intro" style="background:url({{partial "imgUrl" (dict "img" .Params.intro_hintergrund "params" "f_auto" )}}) right bottom no-repeat; background-size:contain">
    <div class="ui container">
      <div class="content">
        {{.Params.intro | safeHTML}}
      </div>
    </div>
  </div>
  <div style="margin-bottom:2rem;">
  <div class="ui container fluid tm">
    <div class="decoWrapper">
      <div class="dleft"></div>
      <div class="dright"></div>
    </div>
    <div class="ui container" id="tm">
      {{.Params.text_mitte|safeHTML}}
    </div>
  </div>
</div>
  {{partial "terminvb"}}
</div>
{{end}}