{{ define "main" }}
<div class="subpage em eb oeb">
  {{ partial "headerSubService.html" . }}
  <div class="ui container">
    <div id="intro">
      {{.Params.intro | safeHTML}}
    </div>
  </div>
  {{with .Params.content_oben}}
  <div class="co">
  <div class="ui container">
    <div class="ui two column stackable mobile reversed grid">
      <div class="ui column" style="min-height:400px; background:url({{partial "imgUrl" (dict "img" .bild "params" "f_auto" )}}) center top no-repeat; background-size:cover">
&nbsp;
      </div>
      <div class="ui column contentcol">
          {{.content |safeHTML}}
        </div>
    </div>
  </div>
</div>
  {{end}}
<div class="ui container th">
  <div class="decoWrapper">
    <div class="dleft"></div>
    <div class="dright"></div>
  </div>
  <h2>{{.Params.titel_themen}}</h2>
  <div class="thlist">
    {{range .Params.themen}}
      <div class="thitem closed">
        <div class="header">
          <i class="icon chevron circle down"></i>
          <i class="icon chevron circle up"></i>
          <h3>{{.titel}}</h3>
        </div>
        <div class="content">
            {{.content |safeHTML}}
        </div>
      </div>
    {{end}}
  </div>
</div>
{{with .Params.content_unten}}
<div class="co cu">
    <div class="ui container">
      <div class="ui two column stackable mobile reversed grid">
        <div class="ui column" style="background:url({{partial "imgUrl" (dict "img" .bild "params" "f_auto" )}}) center center no-repeat; background-size:auto 70%">
  &nbsp;
        </div>
        <div class="ui column contentcol">
            {{.content |safeHTML}}
          </div>
      </div>
    </div>
  </div>
  {{end}}
  <div class="ui container knzpt">
    <div id="knzptdeco"></div>
    <h2>{{.Params.konzept.titel}}</h2>
    {{range $idx,$elem := .Params.konzept.schritte}}
    <!-- -->
    <div class="desk">
      {{ if modBool $idx 2 }}
      <div class="ct left">
        <div class="num">{{$elem.nummer}}</div>
        <div class="txtw">
          <h4>{{$elem.titel}}</h4>
          {{$elem.content|safeHTML}}
        </div>
        <div class="icn">
          <img src="{{partial "imgUrl" (dict "img" $elem.icon "params" "" )}}" />
        </div>
      </div>
      <!-- -->
      {{else}}
      <div class="ct right">
        <div class="icn">
          <img src="{{partial "imgUrl" (dict "img" $elem.icon "params" "" )}}" />
        </div>
        <div class="txtw">
          <h4>{{$elem.titel}}</h4>
          {{$elem.content|safeHTML}}
        </div>
        <div class="num">{{$elem.nummer}}</div>
      </div>
      <!-- -->
      {{end}}
    </div>
    <div class="mobile">
      <div class="ct left">
        <div class="num">{{$elem.nummer}}</div>
        <div class="txtw">
          <h4>{{$elem.titel}}</h4>
          {{$elem.content|safeHTML}}
        </div>
        <div class="icn">
          <img src="{{partial "imgUrl" (dict "img" $elem.icon "params" "" )}}" />
        </div>
      </div>
    </div>
    <!-- -->
    {{end}}
  </div>
  {{partial "terminv"}}
</div>
{{end}}