{{ define "main" }}
<div class="subpage pm">
  {{ partial "headerSubService.html" . }}
  <div id="intro">
    <div class="ui container">
      <div class="ui stackable two column grid" style="margin-bottom:0;">
        <div id="imgcol" class="ui column" style="min-height:200px; background:url({{partial "imgUrl" (dict "img" .Params.intro_bild "params" "" )}}) right center no-repeat; background-size:cover;">
        </div>
        <div class="ui column cr">
          {{.Params.intro_text | safeHTML}}
        </div>
      </div>
    </div>
  </div>
  <div class="cblock1" style="background:url({{partial "imgUrl" (dict "img" .Params.bild_unter_content "params" "" )}}) center bottom no-repeat; background-size:20rem;">
    <div class="ui container">
      <div class="ui two column stackable grid">
        <div class="ui column">
          {{.Params.content_links|safeHTML}}
        </div>
        <div class="ui column">
          {{.Params.content_rechts|safeHTML}}
        </div>
      </div>
    </div>
  </div>
  <div class="cblock2">
    <div class="ui container">
      {{.Params.content_unten_1|safeHTML}}
    </div>
  </div>
  <div class="decoWrapper">
    <div class="dleft"></div>
    <div class="dright"></div>
  </div>
  <div class="cblock3" style="margin-bottom:2rem;">
    <div class="ui container">
      {{.Params.content_unten_2|safeHTML}}
    </div>
  </div>
  {{partial "terminvb"}}
</div>
{{end}}