{{ define "main" }}
<div class="subpage video">
  {{ partial "headerSubService.html" . }}
  <div id="topteaser">
    <div class="ui container">
      <div class=" stackable two column ui grid">
        <div class="ui column" style="background:url({{partial "imgUrl" (dict "img" .Params.bild_links "params" "" )}}) right center no-repeat; background-size:cover;">
        </div>
        <div class="ui column cr">
          {{.Params.content_rechts | safeHTML}}
        </div>
      </div>
    </div>
  </div>
  <div class="decoWrapper">
    <div class="dleft"></div>
    <div class="dright"></div>
  </div>
  <h2>{{.Params.titel_unten}}</h2>
  <div class="ui container">
    <div class="ui stackable two column grid">
      <div class="ui column">
        <div class="steps">
          {{range .Params.schritte}}
          <div class="step">
            <img src="{{partial "imgUrl" (dict "img" .icon "params" "" )}}" />
            <div class="content">
              <h3>{{.titel}}</h3>
              {{.content | safeHTML}}
            </div>
          </div>
          {{end}}
          <div>
            {{.Params.erlaeuterung_nach_schritten|safeHTML}}
          </div>
        </div>
      </div>
      <div class="ui column">
        {{.Params.patientus_snippet|safeHTML}}
      </div>
    </div>
  </div>
</div>
{{end}}